<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
    function search() {
        var keywords = document.getElementById("searchBar").value;

        $.ajax({
            async: false,
            dataType: "json",
            url: "/search?q=" + keywords,
            type: "GET",
            error: function(err) {
                alert("AJAX error in request: " + JSON.stringify(err, null, 2));
            },
            success: function(data, status) {
                var tweets = [];
                data.forEach(function(tweet) {
                    var location = { lat: tweet._source.location.lat,
                                     lon: tweet._source.location.lon};
                    tweets.push(location);
                });
                displayTweets(tweets);
            }
        });
    }
    </script>
</head>
<body>
<h1>Rendered Page</h1>

<form>
    Search for: <input type="text" id="searchBar">
    <button onclick="search(); return false;">Search</button>
</form>

<div id="map"></div>
<script src="gmaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlaLk8GbtnpzMZhSjC84Kmt3qp_QccR-g&callback=initBigMap" async defer></script>

</body>
</html>
