<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
    function search() {
        var keyword = document.getElementById("keywordSelect").value;

        $.ajax({
            async: false,
            dataType: "json",
            url: "/search?q=" + keyword,
            type: "GET",
            error: function(err) {
                alert("AJAX error in request: " + JSON.stringify(err, null, 2));
            },
            success: function(data, status) {
                var tweets = [];
                data.forEach(function(tweet) {
                    var location_text = { lat: tweet._source.location.lat,
                                        lon: tweet._source.location.lon,
                                        tweet_text: tweet._source.text};
                    tweets.push(location_text);
                });
                displayTweets(tweets);
            }
        });
    }
    </script>
</head>
<body>
<h1>TweetMap</h1>

<form>
    Search for tweets related to: 
    <select id="keywordSelect" onchange="search()">
        <option disabled selected> - Select a keyword - </option>
        <option value="super tuesday">Super Tuesday</option>
        <option value="trump">Trump</option>
        <option value="clinton">Clinton</option>
        <option value="GOP">GOP</option>
        <option value="democratic">Democratic</option>
        <option value="republican">Republican</option>
        <option value="primary">Primary</option>
        <option value="rubio">Rubio</option>
        <option value="cruz">Cruz</option>
        <option value="debate">Debate</option>
    </select>

</form>

<div id="map"></div>
<script src="gmaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlaLk8GbtnpzMZhSjC84Kmt3qp_QccR-g&callback=initBigMap" async defer></script>

</body>
</html>
